Docs/build/doctrees
Docs/build/html/*
!Docs/build/html/*.html
!Docs/build/html/*.js
Media/*
!Media/puggerbot-icon.jpg
!Media/puggerbot.jpg
Source/config.js
Source/sandbox.js
SQL/Reference/*
SQL/UserData/*
SQL/reference.db
SQL/user_data.db
!SQL/Reference/bible_books.sql
!SQL/Reference/bible_kjv.sql
Legacy
node_modules
package-lock.json
report*.json
