NodeJS/Docs/build/doctrees
NodeJS/Docs/build/html/*
!NodeJS/Docs/build/html/*.html
!NodeJS/Docs/build/html/*.js
NodeJS/Media/*
!NodeJS/Media/puggerbot-icon.jpg
!NodeJS/Media/puggerbot.jpg
NodeJS/Source/config.js
NodeJS/Source/sandbox.js
NodeJS/SQL/Reference/*
NodeJS/SQL/UserData/*
NodeJS/SQL/reference.db
NodeJS/SQL/user_data.db
!NodeJS/SQL/Reference/bible_books.sql
!NodeJS/SQL/Reference/bible_kjv.sql
NodeJS/node_modules
NodeJS/package-lock.json
NodeJS/report*.json

Python/_git
Python/Database
Python/Login
Python/Queries
