Docs/build/doctrees
Docs/build/html/*
!Docs/build/html/*.html
!Docs/build/html/*.js
Media/*
!Media/puggerbot-icon.jpg
!Media/puggerbot.jpg
Source/config.js
Source/sandbox.js
SQL
Legacy
node_modules
package-lock.json
report*.json
